" IdeaVim configuration: https://github.com/JetBrains/ideavim

source ~/.vimrc

" Q formats instead of entering Ex mode
map Q gq

" IdeaVim plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
