[user]
    name = Aaron Dettmann
    email = aaron.dettmann@gmail.com

[color]
    ui = auto

[core]
    editor = nvim

[alias]
    a = add
    amend = commit --amend
    c = commit
    cb = checkout -b
    co = checkout
    d = diff
    ll = log -n 1
    pr = pull --rebase
    root = rev-parse --show-toplevel
    s = status --short
    status = status --short
    st = stash
    stp = stash pop
    undo = checkout --
    unstage = reset HEAD --

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false

[url "https://github.com/"]
    insteadOf = gh:

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[pull]
    rebase = true

[init]
    defaultBranch = main

[diff "lfs"]
    textconv = cat

[push]
    autoSetupRemote = true

