[user]
    name = Aaron Dettmann
    useConfigOnly = true

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[alias]
    a = add
    amend = commit --amend
    c = commit
    cb = switch -c
    co = switch
    d = diff
    ll = log -n 1
    root = rev-parse --show-toplevel
    s = status --short
    st = stash
    stp = stash pop
    undo = restore --
    unstage = restore --staged --

[fetch]
    prune = true

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[rebase]
    autoStash = true
    updateRefs = true

[commit]
    verbose = true

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[diff]
    algorithm = histogram
    colorMoved = default

[merge]
    tool = nvimdiff
    conflictstyle = zdiff3

[mergetool]
    prompt = false
    keepBackup = false

[rerere]
    enabled = true

[help]
    autocorrect = prompt

[url "https://github.com/"]
    insteadOf = gh:

# Written by `git lfs install`
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

# Last, so that machine-local settings override everything above
[include]
    path = ~/.gitconfig.local
